@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$enable-shadows: true;
$enable-gradients: true;
$enable-dark-mode: true;

$custom-colors: (
    "primary": #618dbd,
    "success": #7be47b,
    "warning": #eb4a2e,
    "secondary": #9aa6b3
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Custom sticky footer
@import "sticky-footer";